
@media screen and (max-width: 768px){

    .list{
        padding-left: 5.2%;
        padding-right: 5.2%;
    }

    .header{
        width: 100%;
        height: 125px;
        top: 2%;
        left: 2%;
     }

    .masque{
        width: 100px;
        height: 100px;
        -webkit-filter: blur(0);
        filter: blur(0);
    }

    .PatriceB{
        width: auto;
        font-size: 30px;
        top: 2%;
        left: 2%;
        display: flex;
        align-items: center;
    }

    .moi{
        text-align: left;
        font-size: 20px;
        margin: 10px;
    }

    .titre, .titre1{
       /*display: none;*/
        text-align: left;
        position: relative;
        top:10%;
        left: auto;
        width: auto;
        margin: 2.1%;
     }

     .portfolio{

        color: red;
        font-family: 'Courier Prime';
        font-size: 20px;
        position: absolute;
        left: 40%;
        top: 18%;
     }


}