body{
    background-color: #F2F2F2;
}
ul{
    list-style: none;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 5px;
}
.PatriceB{

}

.photoProfil{

}

.d2wm{

}

.titre::before{
    font-weight: bold;
    content: "// ";
}
.titre{
    font-size: 16px;
    padding: 5px 10px;
    margin: 0px 10px;
    text-align: left;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: #1F1F1F;
}
.list{
    display: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
    font-size: 14px;
    background-color: white;
}
.module:hover{
    cursor: pointer;
}
.module{
    width: 100%;
    margin-bottom: 20px;
}
#listEXP1{
    line-height: 25px;
}
